@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    background-image: url('../images/background_accueil.jpg');
    background-size: 100%;
    padding: 0;
    margin: 0;
    font-family: 'fugaz one', sans-serif;
}

.sec_container{
    width: 460px;
    background-image: linear-gradient(to bottom, #00a5a5, #346a83);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.therd_container{
    width: 260px;
    background-image: linear-gradient(to bottom, #00a5a5, #346a83);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

h1{
color: #e94a34;
margin-left: 30%;
margin-top: 2%;
}
h1 a{
color: #fec800;
}


.container {
    height: auto;
    width: 100%;
    position: relative;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.card_body {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}

form {
    flex: 0 0 100%;
}

.toggleForm {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.form_control {
    width: 80%;
    border: none;
    border-bottom: 1px solid #663993;
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 15px;
    color: #fec800;
}

button {
    font-family: 'fugaz one', sans-serif;
    margin-top: 20px;
    width: 40%;
    height: 10%;
    border-radius: 30px;
    color: #fec800;
    background-color: #e94a34;
}

button:hover {
    font-family: 'fugaz one', sans-serif;
    color: #e94a34;
    background-color: #fec800;
    box-shadow: 3px 5px 5px;
    transform: translateY(-10px);
    transition: .3s;
}

.form_control::placeholder {
    color: #e94a34;
    font-family: 'fugaz one', sans-serif;
}
