@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    background-image: url('../images/background_accueil.jpg');
    background-size: 100%;
}


form {
    margin: 10% 0 0 50%;

}

.container {
    background-color: aqua;
    position: relative;
    height: 500px;
    width: 500px;
}

.form_control {
    width: auto;
    border: none;
    border-bottom: 1px solid #663993;
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: #EEEEEF;
}

button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    width: 30%;
    height: 10%;
    border-radius: 30px;
    color: #EEEEEF;
    background-color: #240e3d;
}

button:hover {
    font-family: 'Montserrat', sans-serif;
    color: #240e3d;
    background-color: #EEEEEF;
    box-shadow: 3px 5px 5px;
    transition: .3s;
}