@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    background-image: url('../images/background_accueil.jpg');
    background-size: 100%;
    padding: 0;
    margin: 0;
    font-family: 'fugaz one', sans-serif;
}

.sec_container{
    width: 460px;
    background-image: linear-gradient(to bottom, #efe8e8, #fffefe);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

h1{
color: #e94a34;
margin-left: 32%;
margin-top: 1%;
}
h1 a{
color: #fec800;
}

.container {
    height: auto;
    width: 40%;
    position: relative;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.card_body {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}

form {
    flex: 0 0 100%;
}

.toggleForm {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.form_control {
    width: 80%;
    border: none;
    border-bottom: 1px solid #00a5a5;
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 15px;
    color: #00a5a5;
}

h5{
color: #e94a34;

}

button {
    font-family: 'fugaz one', sans-serif;
    margin-top: 20px;
    cursor: pointer;
    width: 40%;
    height: 10%;
    font-size: 20px;
    border-radius: 30px;
    color: #fec800;
    background-color: #e94a34;

}

button:hover {
    font-family: 'fugaz one', sans-serif;
    color: #e94a34;
    background-color: #fec800;
    transform: scale(1.1);
    transition: .3s;
}

.form_control::placeholder {
    color: #e94a34;
    font-family: 'fugaz one', sans-serif;
}
